{% load static %}
<html>
<head>
	<meta name="title" content="Форум" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
	<header>
		<div class="page-header">
			<div class="header-left">
					<h1>Название блога</h1>
			</div>
			<div class="header-center">
				<ul>
					<li><a href="/">На главную</a></li>
					<li><a href="#">Топ</a></li>
				</ul>
			</div>
			<div class="header-center">
				{% if user.is_authenticated %}
					<ul>
						<li><a href="#">Профиль</a></li>
						<li><a href="/accounts/logout/">Выйти</a></li>
					</ul>
				{% else %}
					<ul>
						<li><a href="/accounts/login/">Войти</a></li>
						<li><a href="#">Регистрация</a></li>
					</ul>
				{% endif %}
			</div>
		</div>
	</header>
	{% block content %}
	{% endblock %}
</body>
</html>